@import 'styles/every.scss';

.root {

    display: flex;
    flex-flow: row nowrap;
    justify-self: flex-start;
    align-items: center;
  
    width: auto; 
    height: 50px;
    
    position: absolute;
    top: 5px;

    font-size: 1rem;
  
    & > *:nth-child(1) {
        width: auto;
    }

    & > *:nth-child(2) {
        width: auto;
        @include color-each-theme(color, basic__8);
    
        font-size: 1.4rem;
        font-weight: bold;
        
        margin-left: 10px;
    }
}

.icon-logo {
    @include color-each-theme(color, main__5);
    width: 36px;
    height: 36px;
}


