@import 'styles/palette.scss';
@import 'tools.scss';

// default without class
$list-name-theme: (light, dark);
$name-theme-default: light;


@mixin color-body-each-theme($property, $key-color) {

    @each $name-theme in $list-name-theme {

        $color: map-get-deep(
            $map: $palette,
            $listKey: ($name-theme, $key-color)
        );

        @if ($name-theme == $name-theme-default) {
            #{$property}: $color;
        }

        &.theme----#{$name-theme} {
            #{$property}: $color;
        }
    }
}


@mixin color-each-theme($property, $key-color, $opacity: 1, $is-module: true) {

    @each $name-theme in $list-name-theme {
        $color-1: map-get-deep(
            $map: $palette, 
            $listKey: ($name-theme, $key-color)
        );

        $color: $color-1;
        @if ($opacity != 1){
            $color: rgba($color-1, $opacity);
        }

        @if ($name-theme == $name-theme-default) {
            #{$property}: $color;
        }

        @if ($is-module == true) {
            :global(.theme----#{$name-theme}) & {
                #{$property}: $color;
            }
        }
        @else {
            .theme----#{$name-theme} & {
                #{$property}: $color;
            }    
        }
    }
}
    


// ex: border, border-top, outline
@mixin frame-each-theme($property, $width, $style, $key-color, $is-module: true) {

    @each $name-theme in $list-name-theme {

        $color: map-get-deep(
            $map: $palette, 
            $listKey: ($name-theme, $key-color)
        );

        @if ($name-theme == $name-theme-default) {
            #{$property}: $width $style $color;
        }

        @if ($is-module == true) {
            :global(.theme----#{$name-theme}) & {
                #{$property}: $width $style $color;
            }

        }
        @else {
            .theme----#{$name-theme} & {
                #{$property}: $width $style $color;
            }
        }

    }
    
}




@mixin shadow-each-theme($property, $offset-x, $offset-y, $blur-radius, $spread-radius, $key-color, $is-module: true) {

    // ex: box-shadow, text-shadow ( drop-shadow 사용법은 아직 잘 모르겠다)

    @if $property == box-shadow {
        @each $name-theme in $list-name-theme {

            $color: map-get-deep(
                $map: $palette, 
                $listKey: ($name-theme, $key-color)
            );

            @if ($name-theme == $name-theme-default) {
                #{$property}: $offset-x $offset-y $blur-radius $spread-radius $color;
            }

            @if ($is-module == true) {
                :global(.theme----#{$name-theme}) & {
                    #{$property}: $offset-x $offset-y $blur-radius $spread-radius $color;
                }
            }
            @else {
                .theme----#{$name-theme} & {
                    #{$property}: $offset-x $offset-y $blur-radius $spread-radius $color;
                }
            }
            
        }
    }

    @else if $property == text-shadow {
        @each $name-theme in $list-name-theme {

            $color: map-get-deep(
                $map: $palette, 
                $listKey: ($name-theme, $key-color)
            );

            @if ($name-theme == $name-theme-default) {
                #{$property}: $offset-x $offset-y $blur-radius $color;
            }

            @if ($is-module == true) {
                :global(.theme----#{$name-theme}) & {
                    #{$property}: $offset-x $offset-y $blur-radius $color;
                }
            }
            @else {
                .theme----#{$name-theme} & {
                    #{$property}: $offset-x $offset-y $blur-radius $color;
                }
            }
        }
    }

}





// 90deg = to right 
@mixin linear-gradient-each-theme($property, $direction, $list-stop, $list-key-color, $is-module: true) { 



    @each $name-theme in $list-name-theme {

        $list-color: ();
        @each $key-color in $list-key-color {
            $list-color: append($list-color, map-get-deep(
                $map: $palette,
                $listKey: ($name-theme, $key-color)
            ));
        }

        $list-color-stop : zip($list-color, $list-stop);

        @if ($name-theme == $name-theme-default) {
            #{$property}: linear-gradient( $direction, $list-color-stop);
        }

        @if ($is-module == true) {
            :global(.theme----#{$name-theme}) & {
                #{$property}: linear-gradient( $direction, $list-color-stop);
            }
        }
        @else {
            .theme----#{$name-theme} & {
                #{$property}: linear-gradient( $direction, $list-color-stop);
            }
        }

    }
}

