
@function map-set($map, $key, $value) {
    $new: (
        $key: $value,
    );
    @return map-merge($map, $new);
}


@function map-pairs($value, $order: normal) {
// $order: normal 'key value', opposite 'value key'

  @if type-of($value) == 'map' {
    $keys: ();
    $values: ();

    @each $key, $val in $value {
      $keys: append($keys, $key);
      $values: append($values, $val);
    }

    @if ($order == normal){
        @return zip($keys, $values);
    }
    @else {
        @return zip($values, $keys);
    }
    
  }

}


@function map-merge-all($maps...) {
    $collection: ();

    @each $map in $maps {
        $collection: map-merge($collection, $map);
    }
    @return $collection;
}


// https://css-tricks.com/snippets/sass/deep-getset-maps/
@function map-get-deep($map, $listKey) {
    @each $key in $listKey {
        $map: map-get($map, $key);
    }
    @return $map;
}



// https://medium.com/@pentzzsolt/a-non-destructive-map-merge-function-for-sass-f91637f87b2e
// merges nested maps while keeping their sturctures
@function map-merge-nested($map-a, $map-b) {
	$result: $map-a;
	@each $key, $value in $map-b {
		@if (not map-has-key($result, $key)) or (type-of(map-get($result, $key)) != type-of($value)) or (not (type-of(map-get($result, $key)) == map and type-of($value) == map)) {
			$result: map-merge($result, ($key: $value));
		}
		@else {
			$result: map-merge($result, ($key: map-merge-nested(map-get($result, $key), $value)));
		}
	}
	@return $result;
}