@import 'palette.scss';

// ELEMENT__PROPERTY__SITUATION___THEME
// big-element--small-element
//                            what-it-is--
//                                        __big-modifier--small-modifier

// name of theme: theme-light, theme-dark


$action__map-color-assignment: (

    action--main-closed__background-color___light: $light__front__active__normal,
    action--main-closed__background-color___dark: $dark__front__active__normal,
    action--main-open__background-color___light: $light__front__basic__weak,
    action--main-open__background-color___dark: $dark__front__basic__weak,

    action--main-closed__icon-color___light: $light__front__background,
    action--main-closed__icon-color___dark: $dark__front__background,
    action--main-open__icon-color___light: $light__front__basic__weak,
    action--main-open__icon-color___dark: $light__front__basic__weak,

    action--main__box-shadow-color___light: $light__shadow__normal,
    action--main__box-shadow-color___dark: $dark__shadow__normal,
    
    action--menu__background-color___light: $light__front__background,
    action--menu__background-color___dark: $dark__front__background,
    action--menu__box-shadow-color___light: $light__shadow__normal,
    action--menu__box-shadow-color___dark: $dark__shadow__normal,


    // not worked below it
    action--option-behind__background-color___light: $light__front__basic__weak-most,
    action--option-behind__background-color___dark: $dark__front__basic__weak-most,

    action--option-off__font-color___light: $light__front__basic__weak,
    action--option-off__font-color___dark: $dark__front__basic__weak,

    action--option-on__background-color___light: $light__front__background,
    action--option-on__background-color___dark: $dark__front__background,
    action--option-on__font-color___light: $light__front__basic__strong,
    action--option-on__font-color___dark: $dark__front__basic__strong,
    action--option-on__icon-color___light: $light__front__basic__strong,
    action--option-on__icon-color___dark: $dark__front__basic__strong,
    action--option-on__box-shadow-color___light: $light__shadow__weak,
    action--option-on__box-shadow-color___dark: $dark__shadow__weak
);
