@import 'palette.scss';

// ELEMENT__PROPERTY__SITUATION___THEME
// big-element--small-element
//                            what-it-is--
//                                        __big-modifier--small-modifier

// name of theme: theme-light, theme-dark


$page__map-color-assignment: (

    page--log-in--input--label__font-color___light: $light__front__basic__weak,
    page--log-in--input--label__font-color___dark: $dark__front__basic__weak,
    page--log-in--input--label__font-color__focus___light: $light__front__active__normal,
    page--log-in--input--label__font-color__focus___dark: $dark__front__active__normal,
    page--log-in--input--label-error__font-color___light: hsl($h-error,$s-error,50%),
    page--log-in--input--label-error__font-color___dark: hsl($h-error,$s-error,50%),

    page--log-in--input__border-color___light: $light__front__basic__weak-very,
    page--log-in--input__border-color___dark: $dark__front__basic__weak-very,
    
    // page--home__background-color___light: $background___light,
    // page--home__background-color___dark: $background___dark,

    page--log-in__gradient-color-1___light: $light__back__background,
    page--log-in__gradient-color-1___dark: $dark__back__background,
    page--log-in__gradient-color-2___light: $light__front__basic__weak-very,
    page--log-in__gradient-color-2___dark: $dark__front__basic__weak-very,

    page--log-in--top-bar--name-app__font-color___light: $light__front__basic__strong-most,
    page--log-in--top-bar--name-app__font-color___dark: $dark__front__basic__strong-most,
    page--log-in--top-bar--name-app__icon-color___light: $light__front__active__normal,
    page--log-in--top-bar--name-app__icon-color___dark: $dark__front__active__normal
);
