@import 'styles/every.scss';

.root {

  width: $device-xs__min-width; 
  height: auto;
  
  margin: 20px 0px 0px 0px; /* top right bottom left */
  padding: 0px 0px 0px 0px; /* top right bottom left */

}


