
@import './palette/p-basic.scss';
@import './palette/p-main.scss';

@import './palette/p-notification.scss';
@import './palette/p-hue.scss';

@import './palette/p-others.scss';

$h-basic: 220;   $s-basic: 14%;
$h-main: 200;   $s-main: 100%;
$h-sub: 335;   $s-sub: 85%;

$h-success: 120;   $s-success: 45%;    
$h-hint: 200;    $s-hint: 80%;
$h-warning: 15;   $s-warning: 100%;
$h-error: 0;   $s-error: 85%;



$palette-before: ();
$list-name-theme: (light, dark);

@each $name-theme in $list-name-theme {

    $value: map-merge-all(
        map-get($palette-basic, $name-theme),
        map-get($palette-main, $name-theme),

        map-get($palette-success, $name-theme),
        map-get($palette-hint, $name-theme),
        map-get($palette-warning, $name-theme),
        map-get($palette-error, $name-theme),

        map-get($palette-others, $name-theme),

        map-get($palette-hue, $name-theme)

    );

    $palette-before: map-set($palette-before, $name-theme, $value);

};

$palette: $palette-before;

/*
    $palette: (
        light: (
            ...
        ),
        dark: (
            ...
        )
    );
*/