

$h-basic: 220;   $s-basic: 14%;

$h-main: 200;   $s-main: 100%;
$h-sub: 335;   $s-sub: 85%;

$h-success: 120;   $s-success: 45%;    
$h-hint: 200;    $s-hint: 80%;
$h-warning: 15;   $s-warning: 100%;
$h-error: 0;   $s-error: 85%;