@import './color-elements.scss';


$palette-basic: (

    light: (

        body: hsl($h-basic,$s-basic,95%),

        basic__0: hsl($h-basic,$s-basic,100%),
        basic__1: hsl($h-basic,$s-basic,90%),
        basic__2: hsl($h-basic,$s-basic,80%),
        basic__3: hsl($h-basic,$s-basic,70%),
        basic__4: hsl($h-basic,$s-basic,60%),
        basic__5: hsl($h-basic,$s-basic,50%),
        basic__6: hsl($h-basic,$s-basic,40%),
        basic__7: hsl($h-basic,$s-basic,30%),
        basic__8: hsl($h-basic,$s-basic,20%), 
        basic__9: hsl($h-basic,$s-basic,10%),

        shadow__basic__weak: rgba(hsl($h-basic,$s-basic,50%), 0.2),
        shadow__basic__normal: rgba(hsl($h-basic,$s-basic,50%), 0.4),
        shadow__basic__strong: rgba(hsl($h-basic,$s-basic,50%), 0.6),

    ),

    dark: (
        
        body: hsl($h-basic,$s-basic,8%),

        basic__0: hsl($h-basic,$s-basic,10%),
        
        basic__1: hsl($h-basic,$s-basic,20%),
        basic__2: hsl($h-basic,$s-basic,30%),
        basic__3: hsl($h-basic,$s-basic,40%),
        basic__4: hsl($h-basic,$s-basic,50%),
        basic__5: hsl($h-basic,$s-basic,60%),
        basic__6: hsl($h-basic,$s-basic,70%),
        basic__7: hsl($h-basic,$s-basic,80%),
        basic__8: hsl($h-basic,$s-basic,90%),
        basic__9: hsl($h-basic,$s-basic,100%),

        shadow__basic__weak: rgba(hsl($h-basic,$s-basic,0%), 0.2),
        shadow__basic__normal: rgba(hsl($h-basic,$s-basic,0%), 0.4),
        shadow__basic__strong: rgba(hsl($h-basic,$s-basic,0%), 0.6),

    )
);
