@import './color-elements.scss';

// , $delta-l: -1 ~ 1

$list-hue: (
    grey,
    0,10,20,30,40,50,60,70,80,90,
    100,110,120,130,140,150,160,170,180,190,
    200,210,220,230,240,250,260,270,280,290,
    300,310,320,330,340,350
);

@function make-palette($name, $h, $s, $delta-l:0){
    
    @return (
        light: (
            #{$name}__0: hsl($h,$s,100%),
            #{$name}__1: hsl($h,$s,90%-($delta-l*1%)),
            #{$name}__2: hsl($h,$s,80%-($delta-l*2%)),
            #{$name}__3: hsl($h,$s,70%-($delta-l*3%)),
            #{$name}__4: hsl($h,$s,60%-($delta-l*4%)),
            #{$name}__5: hsl($h,$s,50%-($delta-l*5%)),
            #{$name}__6: hsl($h,$s,40%-($delta-l*6%)),
            #{$name}__7: hsl($h,$s,30%-($delta-l*7%)),
            #{$name}__8: hsl($h,$s,20%-($delta-l*8%)),
            #{$name}__9: hsl($h,$s,10%-($delta-l*9%)),

            shadow__#{$name}__normal: rgba(hsl($h,$s,60%), 0.3)
        ),
        dark: (
            #{$name}__0: hsl($h,$s, 10%),

            #{$name}__1: hsl($h,$s,20%+($delta-l*1%)),
            #{$name}__2: hsl($h,$s,30%+($delta-l*2%)),
            #{$name}__3: hsl($h,$s,40%+($delta-l*3%)),
            #{$name}__4: hsl($h,$s,50%+($delta-l*4%)),
            #{$name}__5: hsl($h,$s,60%+($delta-l*5%)),
            #{$name}__6: hsl($h,$s,70%+($delta-l*6%)),
            #{$name}__7: hsl($h,$s,80%+($delta-l*7%)),
            #{$name}__8: hsl($h,$s,90%+($delta-l*8%)),
            #{$name}__9: hsl($h,$s,100%+($delta-l*9%)),

            shadow__#{$name}__normal: rgba(hsl($h,$s,40%), 0.3)
        )
    );
}

$palette-hue-grey: make-palette(hue-grey, $h-basic, $s-basic, 1);

$palette-hue-0: make-palette(hue-0, 0, 60);
$palette-hue-10: make-palette(hue-10, 10, 70);
$palette-hue-20: make-palette(hue-20, 20, 70);
$palette-hue-30: make-palette(hue-30, 30, 100);
$palette-hue-40: make-palette(hue-40, 40, 100);
$palette-hue-50: make-palette(hue-50, 50, 80);
$palette-hue-60: make-palette(hue-60, 60, 70);
$palette-hue-70: make-palette(hue-70, 70, 70, 1);
$palette-hue-80: make-palette(hue-80, 80, 60);
$palette-hue-90: make-palette(hue-90, 90, 60);
$palette-hue-100: make-palette(hue-100, 100, 60);
$palette-hue-110: make-palette(hue-110, 110, 60);
$palette-hue-120: make-palette(hue-120, 120, 60);
$palette-hue-130: make-palette(hue-130, 130, 70, 1);
$palette-hue-140: make-palette(hue-140, 140, 60);
$palette-hue-150: make-palette(hue-150, 150, 60);
$palette-hue-160: make-palette(hue-160, 160, 60);
$palette-hue-170: make-palette(hue-170, 170, 60);
$palette-hue-180: make-palette(hue-180, 180, 60);
$palette-hue-190: make-palette(hue-190, 190, 60);
$palette-hue-200: make-palette(hue-200, 200, 100);
$palette-hue-210: make-palette(hue-210, 210, 60);
$palette-hue-220: make-palette(hue-220, 220, 60);
$palette-hue-230: make-palette(hue-230, 230, 60);
$palette-hue-240: make-palette(hue-240, 240, 60);
$palette-hue-250: make-palette(hue-250, 250, 60);
$palette-hue-260: make-palette(hue-260, 260, 80, 1);
$palette-hue-270: make-palette(hue-270, 270, 60);
$palette-hue-280: make-palette(hue-280, 280, 60);
$palette-hue-290: make-palette(hue-290, 290, 60);
$palette-hue-300: make-palette(hue-300, 300, 60);
$palette-hue-310: make-palette(hue-310, 310, 60);
$palette-hue-320: make-palette(hue-320, 320, 60);
$palette-hue-330: make-palette(hue-330, 330, 60);
$palette-hue-340: make-palette(hue-340, 340, 60);
$palette-hue-350: make-palette(hue-350, 350, 60);




$palette-hue-before: ();
$list-name-theme: (light, dark);

@each $name-theme in $list-name-theme {

    $value: map-merge-all(

        map-get($palette-hue-grey, $name-theme),
        map-get($palette-hue-0, $name-theme),
        map-get($palette-hue-10, $name-theme),
        map-get($palette-hue-20, $name-theme),
        map-get($palette-hue-30, $name-theme),
        map-get($palette-hue-40, $name-theme),
        map-get($palette-hue-50, $name-theme),
        map-get($palette-hue-60, $name-theme),
        map-get($palette-hue-70, $name-theme),
        map-get($palette-hue-80, $name-theme),
        map-get($palette-hue-90, $name-theme),
        map-get($palette-hue-100, $name-theme),
        map-get($palette-hue-110, $name-theme),
        map-get($palette-hue-120, $name-theme),
        map-get($palette-hue-130, $name-theme),
        map-get($palette-hue-140, $name-theme),
        map-get($palette-hue-150, $name-theme),
        map-get($palette-hue-160, $name-theme),
        map-get($palette-hue-170, $name-theme),
        map-get($palette-hue-180, $name-theme),
        map-get($palette-hue-190, $name-theme),
        map-get($palette-hue-200, $name-theme),
        map-get($palette-hue-210, $name-theme),
        map-get($palette-hue-220, $name-theme),
        map-get($palette-hue-230, $name-theme),
        map-get($palette-hue-240, $name-theme),
        map-get($palette-hue-250, $name-theme),
        map-get($palette-hue-260, $name-theme),
        map-get($palette-hue-270, $name-theme),
        map-get($palette-hue-280, $name-theme),
        map-get($palette-hue-290, $name-theme),
        map-get($palette-hue-300, $name-theme),
        map-get($palette-hue-310, $name-theme),
        map-get($palette-hue-320, $name-theme),
        map-get($palette-hue-330, $name-theme),
        map-get($palette-hue-340, $name-theme),
        map-get($palette-hue-350, $name-theme)

    );

    $palette-hue-before: map-set($palette-hue-before, $name-theme, $value);

};

$palette-hue: $palette-hue-before;