@import 'styles/every.scss';


.root {

    width: 140px;
    height: 80px;

    border-radius: 8px;

    .face {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        & > div:nth-child(1){
            font-size: 1.1rem;
        }
    }
}



:global(.hue----260) {
    @include color-each-theme(background-color, hue-260__3);
}