@import 'styles/every.scss';


.root {
    display: flex;
}



.icon {
    padding: 4%;
    width: 100%;
    height: 100%;

    display: grid !important;
    
    .icon-of-each-portal { 
        width: 100%;
        height: 100%;
        border-radius: 25%;
    }

    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 6px 6px;

    &:global(.number-portal----1), &:global(.number-portal----2), &:global(.number-portal----3), &:global(.number-portal----4) {

        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 8px 8px;
    }
    &:global(.number-portal----5), &:global(.number-portal----6), &:global(.number-portal----7), &:global(.number-portal----8), &:global(.number-portal----9) {
        
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 3px 3px;
    }
}


.collection-portal {

    width: calc(100% - 10px);
    margin-bottom: 10px;

    .portal a {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 20px 1fr;
        gap: 8px;

        align-items: center;

        & > *:nth-child(1) {
            .icon-of-each-portal {
                width: 12px;
                height: 12px;
                border-radius: 25%;
            }
        }
        
        & > *:nth-child(2) {
             
            display: inline;
            width: 100%; 
            height: auto;
            
            font-size: 0.9rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
            
        }


    }

}



@each $hue in $list-hue {

    .icon-of-each-portal:global(.hue----#{$hue}) {
        // @include frame-each-theme(border, 2px, solid, hue-#{$hue}__5);
        
        //@include color-each-theme(background-color, hue-#{$hue}__5);

        @include linear-gradient-each-theme(background, to bottom, (0%, 100%), (hue-#{$hue}__4, hue-#{$hue}__5));
    }
}