@import 'styles/every.scss';



.background-shadow {

    width: 100vw;
    height: 100vh;

    @include color-each-theme(background-color, shadow__basic__normal);

    position: fixed;
    top: 0px;
    left: 0px;
    
    z-index: 599;
} 



.modal {

    width: calc(100vw - 20px); max-width: $device-xs__min-width - 20px; min-width: $modal__min-width;
    // width: $device-xs__min-width - 20px;
    height: auto; max-height: 90vh;  min-height: 100px;

    @include color-each-theme(background-color, basic__0);
    @include color-each-theme(color, basic__5);

    @include frame-each-theme(border, 1px, solid, basic__1);
    @include shadow-each-theme(box-shadow, 0px, 0px, 10px, 2px, shadow__basic__strong);

    border-radius: 12px;

    position: fixed;
    z-index: 600;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);

}


.header {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
    flex: 0 0 auto;
  
    width: 100%;
    height: 50px;
    
  
    margin: 0px 0px 0px 0px; /* top right bottom left */
    padding: 5px 20px 0px 20px; /* top right bottom left */
    
    & > div:nth-child(1){
        width: auto;
        font-size: 1.2rem;
        @include color-each-theme(color, basic__7);
    }
    & > div:nth-child(2){
        width: auto;
        cursor: pointer;
    }

    
    .icon-x {
        @include color-each-theme(color, basic__3);
        width: 24px;
        height: 24px;
    }

}


.content {
  
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    
    flex: 1 1 auto;
  
    width: calc(100% - 20px);
    height: auto;  min-height: 50px;
    
    @include frame-each-theme(border-top, 2px, solid, basic__1);

    margin: 0px 0px 0px 0px; /* top right bottom left */
    padding: 0px 0px 10px 0px; /* top right bottom left */
  




    
    .button-main {
        width: 100%;
        height: 36px;
        @include color-each-theme(background-color, main__5);
        @include color-each-theme(color, basic__0);
    }


    
    .group-option { /* options */
        
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    
        width: auto;
        height: 32px;

        @include color-each-theme(background-color, basic__1);
        
        border-radius: 5px;
    
        padding: 0px 3px 0px 3px; /* top right bottom left */
    
    
        & > * {
            justify-content: center;

            width: auto;
            height: 28px;
            border-radius: 5px;
            padding: 2px 7px 4px 7px; /* top right bottom left */
            
            cursor: pointer;
            background-color: transparent;
            @include color-each-theme(color, basic__5);

            &:global(.active----true) {
                @include color-each-theme(background-color, main__5);
                @include color-each-theme(color, basic__0);
                // @include shadow-each-theme(box-shadow, 0px, 0px, 2px, 2px, shadow__basic__weak);
            }

            &:nth-child(n+2){
                margin-left: 8px;
                
            }
        }
    }
}

