@import 'styles/every.scss';



.background-shadow {

    width: 100vw;
    height: 100vh;

    @include color-each-theme(background-color, modal--shadow__background-color);

    position: fixed;
    top: 0px;
    left: 0px;
    
    z-index: 599;
} 



.modal {

    width: calc(100vw - 20px); max-width: $device-xs__min-width - 20px; min-width: $modal__min-width;
    // width: $device-xs__min-width - 20px;
    height: auto; max-height: 90vh;  min-height: 100px;

    @include color-each-theme(background-color, modal__background-color);
    @include color-each-theme(color, modal__font-color);

    @include frame-each-theme(border, 1px, solid, modal__border-color);
    @include shadow-each-theme(box-shadow, 0px, 0px, 10px, 2px, modal__box-shadow-color);

    border-radius: 12px;

    position: fixed;
    z-index: 600;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);

}


.header {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
    flex: 0 0 auto;
  
    width: 100%;
    height: 50px;
    
  
    margin: 0px 0px 0px 0px; /* top right bottom left */
    padding: 5px 20px 0px 20px; /* top right bottom left */
    
    & > div:nth-child(1){
        width: auto;
        font-size: 1.2rem;
    }
    & > div:nth-child(2){
        width: auto;
        cursor: pointer;
    }

    
    .icon-x {
        @include color-each-theme(color, modal--header__icon-color);
        width: 24px;
        height: 24px;
    }

}


.content {
  
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    
    flex: 1 1 auto;
  
    width: calc(100% - 20px);
    height: auto;  min-height: 50px;
    
    @include frame-each-theme(border-top, 2px, solid, modal--header__border-color);

    margin: 0px 0px 0px 0px; /* top right bottom left */
    padding: 0px 0px 10px 0px; /* top right bottom left */
  
}