@import 'styles/every.scss';

.root {
    display: flex;
}


.content {
  
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    
    flex: 1 1 auto;
  
    width: calc(100% - 20px);
    height: auto;  min-height: 50px;
        
    /*
    & > *:nth-child(n+2) {  // header
        margin-top: 5px;
    }
    */
    
    .content__section {

        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;
        height: auto;


        &:nth-child(n+2){
            margin-top: 8px;
        }

        &:first-child {
            margin-top: 8px;
        }
        &:last-child {
            margin-bottom: 8px;
        }


        .search-stack {
            display: none;
        }
    }


}


.collection__input-submit {

    @include frame-each-theme(border, 2px, solid, basic__1);
    border-radius : 6px;
    padding: 4px 4px 4px 4px;
        
    .container__input-submit {

        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        label {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;

            & > *:nth-child(1){
                width: auto;
                .icon-link-external {
                    width: 24px;
                    height: 24px;
                }
            }
            & > *:nth-child(2){
                width: auto;
                margin-left: 8px;
            }
            
        }
        
    }

}

