@import 'styles/every.scss';

.modal {

}

.content__section {

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: auto;
    height: auto;
  
    & > div:nth-child(1){ /* title */
        justify-content: center;

        width: auto;
        height: 24px;
        font-size: 0.9rem;
    }
  
    & > div:nth-child(2){ /* options */
        
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    
        width: auto;
        height: 32px;

        @include color-each-theme(background-color, back__background);
        
        border-radius: 5px;
    
        padding: 0px 3px 0px 3px; /* top right bottom left */
    
    
    
        & > div {
            justify-content: center;

            width: auto;
            height: 26px;
            border-radius: 5px;
            padding: 1px 6px 1px 6px; /* top right bottom left */
            
            cursor: pointer;
            
            &:nth-child(n+2){
                margin-left: 8px;
                
            }
        }
    }
}


.button-option {
    
    background-color: transparent;
    @include color-each-theme(color, front__basic__weak);

    &:global(.active----true) {
        @include color-each-theme(background-color, front__active__normal);
        @include color-each-theme(color, front__background);

        // @include shadow-each-theme(box-shadow, 0px, 0px, 2px, 2px, shadow__basic__weak);
    }

}

