@import 'styles/every.scss';


.root {

    width: auto;
    height: auto; 

    border-radius: 12px;

    position: fixed;
    z-index: 700;
    
    bottom: 60px;
    right: 30px;

    .main {

        position: relative;
        z-index: 750;
        
        button {

            width: 50px;
            height: 50px;

            border-radius: 50%;

            @include color-each-theme(background-color, main__5);
            @include frame-each-theme(border, 2px, solid, main__6 );

            .icon-three-dots {
                @include color-each-theme(color, basic__0);
                width: 40px;
                height: 40px;
            }
        }

        
    }
    &:global(.is-open----true) .main button {
        // @include color-each-theme(background-color, front__basic__weak);
        
    }

    .menu {
        
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
    
        @include color-each-theme(background-color, basic__0);

        position: absolute;
        bottom: 0px;

        width: 50px;
        height: auto;
        padding-bottom: 70px;
        
        @include frame-each-theme(border, 2px, solid, basic__1 );
        border-radius: 30px;

        z-index: 720;

        & > *:nth-child(1) {
            margin-top: 12px;
        }
        & > *:nth-child(n+2) {
            margin-top: 12px;
        }

        :global(.icon) {
            @include color-each-theme(color, basic__4);
        }

        .icon-copy {
            width: 26px;
            height: 26px;
        }
        .icon-share {
            width: 26px;
            height: 26px;
        }
    }


    &:global(.is-open----false) .menu {
        display: none;
    }
    &:global(.is-open----true) .menu {
        display: flex;
    }

    .shadow-of-action {

        width: 100vw;
        height: 100vh;

        background-color: transparent;

        position: fixed;
        z-index: 698;
    } 

} 





/*

    @include color-each-theme(background-color, modal__background-color);
    @include color-each-theme(color, modal__font-color);

    @include frame-each-theme(border, 1px, solid, modal__border-color);
    @include shadow-each-theme(box-shaow, 0px, 0px, 10px, 2px, modal__box-shadow);

*/