@import 'styles/every.scss';

.root {

    @include color-each-theme(background-color, basic__0);

    visibility: hidden;
    &:global(.showing----true) {
        visibility: visible;
    }

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    @include frame-each-theme(border-top, 3px, solid, main__5);
    @include frame-each-theme(border-bottom, 1px, solid, basic__1);
    
    width: 100%; min-width: $device-xs__min-width; 
    height: $nav__height;   /* we should let 'Content' know this value too */ 

    position: fixed;
    z-index: 200;
    left: 50%;
    transform: translateX(-50%);

    margin: 0px 0px 0px 0px; /* top right bottom left */
    padding: 0px 0px 0px 0px; /* top right bottom left */
  	
}


.left {

    width: auto;
    
    .logo-app {

        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        width: auto;
        @include color-each-theme(color, basic__8);

        font-weight: bold;
        
        margin-left: 10px;


        & > div:nth-child(1) {
            width: auto;
            .icon-logo {
                @include color-each-theme(color, main__5);
                width: 32px;
                height: 32px;
            }
        }

        & > div:nth-child(2) {
            display: none;

            @media (min-width: $device-m__min-width) { // 320≤ xs < 576,   576 ≤ s < 768,   768 ≤ m < 992,   992 ≤ l < 1200,   1200 ≤ xl
                display: flex;
                width: auto;
                font-size: 1.2rem;
                margin-left: 5px;
	        }
        }
        
    }
    
}


.middle {
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    width: auto;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);


    & > *:nth-child(n+2){
        margin-left: 10px;
    }
  
    .tool-main {
        
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        width: auto;
        height: 32px;
        
        cursor: pointer;

        @include color-each-theme(color, basic__6);
        @include frame-each-theme(border, 2px, solid, basic__2);
        border-radius: 16px;

        padding: 0px 7px 0px 7px;
        @media (min-width: $device-m__min-width) { // 320≤ xs < 576,   576 ≤ s < 768,   768 ≤ m < 992,   992 ≤ l < 1200,   1200 ≤ xl
            padding: 0px 13px 0px 7px;
        }
        
        & > div:nth-child(1) {
            width: 30px;   
        }

        & > div:nth-child(2){
            display: none;
            @media (min-width: $device-m__min-width) { // 320≤ xs < 576,   576 ≤ s < 768,   768 ≤ m < 992,   992 ≤ l < 1200,   1200 ≤ xl
                display: flex;
                width: auto;
                font-size: 0.9rem;
                padding-bottom: 2px;
	        }
        }

        .icon-search {
            @include color-each-theme(color, basic__6);
            width: 20px;
        }

        .icon-plus {
            @include color-each-theme(color, basic__6);
            width: 16px;
        }

        .icon-stack {
            @include color-each-theme(color, basic__6);
            width: 22px;
        }
    }

}


.right {
  
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    width: auto;

	& > *:last-child {
      margin-right: 10px;
	}
  

    .setting {
        .icon-setting {
            @include color-each-theme(color, basic__5);
            width: 24px;
            height: 24px;
        }
    }

    .log-in {
        @include color-each-theme(color, main__5);
        @include frame-each-theme(border, 2px, solid, main__5);
        font-weight: bold;
        border-radius: 15px;

        height: 30px;
        padding: 0px 8px 2px 8px;
        margin-left: 6px;

        font-size: 0.9rem;
        margin-right: 5px;
    }

    
    .user {
        @include color-each-theme(color, basic__5);
        width: 30px;
        height: 30px;
        margin-right: 6px;
    }

    .photo-profile {
        @include frame-each-theme(border, 2px, solid, basic__2);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 6px;
    }
}



