@import 'styles/every.scss';

.root {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.content {
    margin-top: 120px;
    margin-bottom: 120px;


    .filters {
        width: auto;
        align-self: flex-end;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        & > * {
            width: auto;
        }
        & > *:nth-child(n+2){
            margin-left: 8px;
        }
    }

    .collection-stack {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        $margin-left: 20px;
        width: calc(100% - #{$margin-left} * 2);
        margin: 20px $margin-left 0px $margin-left;
    }

    .collection-portal {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        $margin-left: 20px;
        width: calc(100% - #{$margin-left} * 2);
        margin: 10px $margin-left 20px $margin-left;
    }
}

