@import 'styles/every.scss';

.root {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.content {
    margin-top: 120px;
    margin-bottom: 120px;

    .part-stack, .part-portal {

        &:nth-child(n+2){
            margin-top: 8px;
        }

    .filter-stack, .filter-portal {
        width: auto;
        align-self: flex-end;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        margin-right: 12px;

        & > * {
            width: auto;
        }


        .head {
            width: auto;
            
            .icon-sort {
                width: 24px;
                height: 24px;
            }
            .icon-hide {
                width: 26px;
                height: 26px;
            }
        }

        & > ul {
            &:nth-child(n+2){
                margin-top: 4px;
            }

            li {
                & > *:nth-child(1){
                    max-width: 30vw;
                    width: auto;

                    display: inline;
                    text-align: left;
                    overflow: hidden;
                }
            }
        }
        & > .collection__option-sorting {
            margin-left: 8px;

            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;

            & > *:nth-child(n+2) {
                margin-left: 4px;
            }

            & > * {    // li

                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;

                border-radius: 4px;
                padding: 2px 2px 2px 5px;

                @include frame-each-theme(border, 1px, solid, basic__5);
                @include color-each-theme(color, basic__5);

                &:global(.active----true){
                    @include color-each-theme(background-color, main__5);
                    @include frame-each-theme(border, 1px, solid, main__6);
                    @include color-each-theme(color, basic__0);
                    border-style: none;
                }

                cursor: pointer;
                
                & > *:nth-child(1){   // name of option
                    width: auto;
                }
                & > *:nth-child(2){   // name of option
                    width: auto;
                    .icon-sort-button{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        & > .collection__option-hiding {
            margin-left: 8px;

            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;

            & > *:nth-child(n+2) {
                margin-left: 4px;
            }

            & > * {    // li

                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;

                padding: 2px 4px 2px 4px;
                border-radius: 4px;

                @include frame-each-theme(border, 1px, solid, basic__5);
                @include color-each-theme(color, basic__5);

                &:global(.active----true){
                    @include color-each-theme(background-color, main__5);
                    @include frame-each-theme(border, 1px, solid, main__6);
                    @include color-each-theme(color, basic__0);
                    border-style: none;
                }

                cursor: pointer;
                
                & > *:nth-child(1){   // name of option
                    width: auto;
                }
            }
        }
    }

    .collection-stack {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        $margin-left: 20px;
        width: calc(100% - #{$margin-left} * 2);
        margin: 20px $margin-left 0px $margin-left;
    }

    .collection-portal {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        $margin-left: 20px;
        width: calc(100% - #{$margin-left} * 2);
        margin: 10px $margin-left 20px $margin-left;
    }

    } // .part-portal, .part-stack
} // content

