@import 'styles/every.scss';


.root {
    @include linear-gradient-each-theme(background, to bottom, 
        (20%, 100%),
        (body, basic__0)
    );

    height: 100vh;
}

.content {

    width: $device-xs__min-width; 
    height: auto;
  
    margin-top: $page__margin-top;  

}



.title-page {
  width: 100%;
  height: 50px;
  
  font-size: 1.6rem;
  font-weight: bold;
  @include color-each-theme( color, basic__7);
}


.input-identity
, .input-password
{

    width: 100%;
    height: auto;

    align-items: flex-start;
  
    &:nth-child(n+2) {
        margin-top: 30px;
    }


    & > div:nth-child(1) {
        width: auto;
        height: 24px;

        font-size: 0.9rem;
        // @include color-each-theme(color, front__basic__weak);
        
        left: 5px;
        font-weight: normal;
    }

    & > div:nth-child(2) {
        width: auto;
        height: 24px;

        position: absolute;
        left: 5px;
        top: 77px;

        font-size: 0.9rem;
        @include color-each-theme(color, page--log-in--input--label-error__font-color);
        
    }

    &:focus-within > div:nth-child(1) {
        @include color-each-theme(color, active__5);
    }
  
    & > input {
  
        width: 100%;
        height: 48px;
        
        border-radius: 4px;

        padding-left: 8px;
        
        // @include frame-each-theme(border, 2px, solid, page--log-in--input__border-color);

        &:focus {

            &::placeholder {
                color:transparent;
            }
            
            border-radius: 4px;
    
        }
    }

  
}



.collection-link {

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  
    width: 100%; 
    height: 40px;
  
    & > div {
        width: auto;
    }
    
    & > * {
        margin-left: 10px;
        & > a {
            font-size: 1.1rem;
        }
    }
}

.button-enter {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;


    margin: 25px 0px 0px 0px; /* top right bottom left */
    padding: 0px 0px 0px 0px; /* top right bottom left */
  
    & > button {
    
        @include color-each-theme(background-color, active__5);
        @include color-each-theme(color, basic__0);
  
        width: 100%;
        height: 44px;
        
        font-weight: normal;
        border-radius: 4px;
        font-size: 1.2rem;
    }
  
}

.division {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    height: 40px;
}

.collection-social {

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    margin: 10px 0px 0px 0px; /* top right bottom left */
    padding: 0px 0px 0px 0px; /* top right bottom left */
  

    & > button {
    
        width: 100%;
        height: 44px;
        
        font-weight: normal;
        border-radius: 4px;
        font-size: 1.1rem;
    
    
    &:nth-child(1){
        @include color-each-theme(background-color, google__bg);
        @include color-each-theme(color, google__font);
    }
    &:nth-child(2){
        @include color-each-theme(background-color, apple__bg);
        @include color-each-theme(color, apple__font);
        margin-top: 8px;
    }
  }
  
}