@import 'palette.scss';

// ELEMENT__PROPERTY__SITUATION___THEME
// big-element--small-element
//                            what-it-is--
//                                        __big-modifier--small-modifier

// name of theme: theme-light, theme-dark


$action__map-color-assignment: (

    action--main-closed__background-color___light: hsl($h-main,$s-main,50%),
    action--main-closed__background-color___dark: hsl($h-main,$s-main,50%),
    action--main-open__background-color___light: hsl($h-basic,$s-basic,50%),
    action--main-open__background-color___dark: hsl($h-basic,$s-basic,50%),

    action--main-closed__icon-color___light: hsl($h-basic,$s-basic,100%),
    action--main-closed__icon-color___dark: hsl($h-basic,$s-basic,0%),
    action--main-open__icon-color___light: hsl($h-basic,$s-basic,50%),
    action--main-open__icon-color___dark: hsl($h-basic,$s-basic,50%),

    //action--main__border-color___light: hsl($h-basic,$s-basic,75%),
    //action--main__border-color___dark: hsl($h-basic,$s-basic,15%),
    action--main__box-shadow-color___light: rgba(hsl($h-basic,$s-basic,50%), 0.7),
    action--main__box-shadow-color___dark: rgba(hsl($h-basic,$s-basic,0%), 0.7),
    
    action--menu__background-color___light: $front___light,
    action--menu__background-color___dark: $front___dark,
    action--menu__box-shadow-color___light: rgba(hsl($h-basic,$s-basic,50%), 0.7),
    action--menu__box-shadow-color___dark: rgba(hsl($h-basic,$s-basic,0%), 0.7),


    // not worked below it
    action--option-behind__background-color___light: hsl($h-basic,$s-basic,90%),
    action--option-behind__background-color___dark: hsl($h-basic,$s-basic,4%),

    action--option-off__font-color___light: hsl($h-basic,$s-basic,50%),
    action--option-off__font-color___dark: hsl($h-basic,$s-basic,50%),

    action--option-on__background-color___light: $front___light,
    action--option-on__background-color___dark: $front___dark,
    action--option-on__font-color___light: hsl($h-basic,$s-basic,30%),
    action--option-on__font-color___dark: hsl($h-basic,$s-basic,70%),
    action--option-on__icon-color___light: hsl($h-basic,$s-basic,30%),
    action--option-on__icon-color___dark: hsl($h-basic,$s-basic,70%),
    action--option-on__box-shadow-color___light: rgba(hsl($h-basic,$s-basic,65%), 0.5),
    action--option-on__box-shadow-color___dark: rgba(hsl($h-basic,$s-basic, 3%), 0.5)
);
