@import 'palette.scss';

// ELEMENT__PROPERTY__SITUATION___THEME
// big-element--small-element
//                            what-it-is--
//                                        __big-modifier--small-modifier

// name of theme: theme-light, theme-dark


$content__map-color-assignment: (

    content--input--label__font-color___light: hsl($h-basic,$s-basic,50%),
    content--input--label__font-color___dark: hsl($h-basic,$s-basic,50%),
    content--input--label__font-color__focus___light: hsl($h-main,$s-main,50%),
    content--input--label__font-color__focus___dark: hsl($h-main,$s-main,50%)
    

);
