@import 'palette.scss';

// ELEMENT__PROPERTY__SITUATION___THEME
// big-element--small-element
//                            what-it-is--
//                                        __big-modifier--small-modifier

// name of theme: theme-light, theme-dark


$modal__map-color-assignment: (

    modal__background-color___light: $front___light,
    modal__background-color___dark: $front___dark,
    modal__font-color___light: hsl($h-basic,$s-basic,25%),
    modal__font-color___dark: hsl($h-basic,$s-basic,75%),
    modal__border-color___light: hsl($h-basic,$s-basic,75%),
    modal__border-color___dark: hsl($h-basic,$s-basic,15%),
    modal__box-shadow-color___light: rgba(hsl($h-basic,$s-basic,60%), 0.5),
    modal__box-shadow-color___dark: rgba(hsl($h-basic,$s-basic,0%), 0.5),
    
    modal--shadow__background-color___light: rgba(hsl($h-basic,$s-basic,10%), 0.3),
    modal--shadow__background-color___dark: rgba(hsl($h-basic,$s-basic,0%), 0.3),

    modal--header__icon-color___light: hsl($h-basic,$s-basic,70%),
    modal--header__icon-color___dark: hsl($h-basic,$s-basic,30%),
    modal--header__icon-color__hover___light: hsl($h-basic,$s-basic,50%),
    modal--header__icon-color__hover___dark: hsl($h-basic,$s-basic,50%),



    
    setting--option-behind__background-color___light: hsl($h-basic,$s-basic,90%),
    setting--option-behind__background-color___dark: hsl($h-basic,$s-basic,4%),

    setting--option-off__font-color___light: hsl($h-basic,$s-basic,50%),
    setting--option-off__font-color___dark: hsl($h-basic,$s-basic,50%),
    setting--option-on__background-color___light: $front___light,
    setting--option-on__background-color___dark: $front___dark,
    setting--option-on__font-color___light: hsl($h-basic,$s-basic,30%),
    setting--option-on__font-color___dark: hsl($h-basic,$s-basic,70%),
    setting--option-on__box-shadow-color___light: rgba(hsl($h-basic,$s-basic,65%), 0.5),
    setting--option-on__box-shadow-color___dark: rgba(hsl($h-basic,$s-basic, 3%), 0.5)
);
