@import 'palette.scss';

// ELEMENT__PROPERTY__SITUATION___THEME
// big-element--small-element
//                            what-it-is--
//                                        __big-modifier--small-modifier

// name of theme: theme-light, theme-dark


$nav__map-color-assignment: (

    nav-1--bar__background-color___light: $front___light,
    nav-1--bar__background-color___dark: $front___dark,
    nav-1--bar__font-color___light: hsl($h-basic,$s-basic,30%),
    nav-1--bar__font-color___dark: hsl($h-basic,$s-basic,70%),
    nav-1--bar__border-color___light: hsl($h-basic,$s-basic,83%),
    nav-1--bar__border-color___dark: hsl($h-basic,$s-basic,12%),
    nav-1--bar--name-app__icon-color___light: hsl($h-main,$s-main,50%),
    nav-1--bar--name-app__icon-color___dark: hsl($h-main,$s-main,50%),
    nav-1--bar--tool__icon-color___light: hsl($h-basic,$s-basic,30%),
    nav-1--bar--tool__icon-color___dark:hsl($h-basic,$s-basic,70%),

    nav-1--board__background-color___light: $front___light,
    nav-1--board__background-color___dark: $front___dark,
    nav-1--board__font-color___light: hsl($h-basic,$s-basic,30%),
    nav-1--board__font-color___dark: hsl($h-basic,$s-basic,70%),
    nav-1--board__border-color___light: hsl($h-basic,$s-basic,85%),
    nav-1--board__border-color___dark: hsl($h-basic,$s-basic,12%),
    nav-1--shadow-of-board__background-color___light: rgba(hsl($h-basic,$s-basic,40%), 0.3),
    nav-1--shadow-of-board__background-color___dark: rgba(hsl($h-basic,$s-basic, 0%), 0.4),

    nav-2--bar__background-color___light: $front___light,
    nav-2--bar__background-color___dark: $front___dark,
    nav-2--name-app__icon-color___light: hsl($h-main,$s-main,50%),
    nav-2--name-app__icon-color___dark: hsl($h-main,$s-main,50%),
    nav-2--name-app__font-color___light: hsl($h-basic,$s-basic,20%),
    nav-2--name-app__font-color___dark: hsl($h-basic,$s-basic,80%),
    nav-2--border-top__border-color___light: hsl($h-main,$s-main,50%),
    nav-2--border-top__border-color___dark: hsl($h-main,$s-main,50%),
    nav-2--border-bottom__border-color___light: hsl($h-basic,$s-basic,83%),
    nav-2--border-bottom__border-color___dark: hsl($h-basic,$s-basic,12%),

    
    nav-2--link__font-color___light: hsl($h-basic,$s-basic,40%),
    nav-2--link__font-color___dark: hsl($h-basic,$s-basic,70%),
    nav-2--link__font-color__hover___light: hsl($h-basic,$s-basic,20%),
    nav-2--link__font-color__hover___dark: hsl($h-basic,$s-basic,80%),

    nav-2--link-main__font-color___light: hsl($h-main,$s-main,100%),
    nav-2--link-main__font-color___dark: hsl($h-main,$s-main,0%),
    nav-2--link-main__background-color__hover___light: hsl($h-main,$s-main,60%),
    nav-2--link-main__background-color__hover___dark: hsl($h-main,$s-main,40%),


    nav-2--tool__icon-color___light: hsl($h-basic,$s-basic,60%),
    nav-2--tool__icon-color___dark: hsl($h-basic,$s-basic,40%),

    nav-2--modal__background-color___light: $front___light,
    nav-2--modal__background-color___dark: $front___dark,
    nav-2--modal__font-color___light: hsl($h-basic,$s-basic,25%),
    nav-2--modal__font-color___dark: hsl($h-basic,$s-basic,75%),

    nav-2--modal__border-color___light: hsl($h-basic,$s-basic,90%),
    nav-2--modal__border-color___dark: hsl($h-basic,$s-basic,10%),
    nav-2--modal__background-color__hover___light: hsl($h-basic,$s-basic,98%),
    nav-2--modal__background-color__hover___dark: hsl($h-basic,$s-basic,7%),
    nav-2--modal__box-shadow-color___light: rgba(hsl($h-main,$s-main,60%), 0.3),
    nav-2--modal__box-shadow-color___dark: rgba(hsl($h-main,$s-main,10%), 0.3),
    //nav-2--modal__drop-shadow-color___light: rgba(hsl($h-basic,$s-basic,60%), 0.5),
    //nav-2--modal__drop-shadow-color___dark: rgba(hsl($h-basic,$s-basic,40%), 0.5)

);
