
// https://sandstorm.de/de/blog/post/bem-sass-scss-variable-naming.html

// TYPE__MODIFY     - once between one block

$h-basic: 220;   $s-basic: 12%;
$h-main: 200;   $s-main: 100%;
$h-sub: 335;   $s-sub: 85%;

$h-success: 120;   $s-success: 45%;    
$h-hint: 200;    $s-hint: 80%;
$h-warning: 15;   $s-warning: 100%;
$h-error: 0;   $s-error: 85%;


$front___light: hsl($h-basic,$s-basic,100%);
$front___dark: hsl($h-basic,$s-basic,8%);

$background___light: hsl($h-basic,$s-basic,95%);
$background___dark: hsl($h-basic,$s-basic,0%);
